# virtual environments
.venv*

# not ready yet
writeups/
!writeups/generics-cogsci-2025

# not public
IRB/
model/background
model/model-alt
model/__pycache__
scratch/

# tex intermediate files
*.aux
*.bbl
*.bcf
*.blg
*.log
*.run.xml
*.synctex.gz

# image/large files unless mentioned
*.png
*.jpg
*.mp4
*.mov
*.pptx

# misc R files
*.Rproj.user
*.Rproj
rsconnect/
