# virtual environments
.venv*

# not public
.env
*pilot*
IRB/
model/background
model/model-alt
model/__pycache__
model/scratch/
receipts/

# tex intermediate files
*.aux
*.bbl
*.bcf
*.blg
*.log
*.run.xml
*.synctex.gz

# image/large files unless mentioned
*.png
*.jpg
*.mp4
*.mov
*.pptx

# misc files
*.Rproj.user
*.Rproj
rsconnect/
settings.json
.Rproj.user
